<script src="/js/script.js"></script>
    <p id="current-year" class="d-inline-block"></p>
    <p class="d-inline-block " style="color: rgb(241, 120, 120);">&copy; All rights reserved</p>
<script src="/js/footer.js"></script>

