<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head.ejs', { title: 'Admin' }) %>
</head>

<body>
    <header>
        <h1>Complex Dashboard</h1>
    </header>
    <%-include('common/navbar.ejs')-%>
    <%-include('common/body.ejs')-%>
</body>
<footer>
    <%-include('common/footer.ejs')-%>
</footer>

</html>